# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data / outputs (keep or remove based on what you want public)
data/
*.csv
*.png

# Logs
*.log
